SERVER_PORT=8080

DB_URL=
DB_USER_NAME=
DB_PASSWORD=

JWT_SECRET_KEY=your-256-bit-secret-key-here-make-it-long-and-random
JWT_ACCESS_EXPIRATION=2m
JWT_REFRESH_EXPIRATION=1d
JWT_REFRESH_ROTATION=2h

FILE_MAX_SIZE_MB=50

OPENAI_API_KEY=
OPENAI_API_URL=https://api.groq.com/openai/v1/chat/completions
OPENAI_MODEL=groq/compound-mini

OPENAI_API_AUDIO_KEY=
OPENAI_API_AUDIO_URL=https://api.groq.com/openai/v1/audio/transcriptions
OPENAI_AUDIO_MODEL=whisper-large-v3